.about-container{
    margin: 4rem 6rem;
    text-align: start;
}
.about-container h1{
    padding-bottom: 1rem;
}
.about-container p{
    padding-bottom: 2rem;
}
.space{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 850px){
    .about-container{
        margin: 4rem 2rem;
    }
}